.menu {
  display: flex;
  background-color: black;
  width: 100vw;
  height: 11vh;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: white;
  margin-left: 0;
  width: 10vw;
  align-items: center;
  height: 100%;
  margin-top: 85px;
}
.helpxd {
  width: 60vw;
}

.katheto {
  color: white;

  margin-left: 10px;
  width: 10vw;
  padding-left: 0;
}

.socials {
  display: flex;
  color: white;
  width: 20vw;
  align-items: flex-end;
}

.tw {
  margin-left: 0;
}

.undermenu {
  width: 100vw;
  height: 93vh;
  background-color: green;
  text-align: center;
  padding-top: 7vh;
}
.maskin {
  font-size: 40px;
  width: 400px;
  margin: 0 40vw;
}
